# Fast async event loop
uvloop==0.16.0
# For better output
rich==10.9.0
# ORM
ormar==0.10.18
databases==0.5.0
aiosqlite==0.17.0
# Passwords hashing
cryptography==3.4.8
# For API
fastapi==0.68.1
pydantic==1.8.2
uvicorn==0.15.0
# Since 0.12.0 uvicorn does not install httptools (and uvloop)
httptools==0.3.0
