# Static type check analysis
mypy==0.910
types-setuptools==57.0.2
# Flake8 with extensions
flake8==3.9.2
flake8-bugbear==21.9.1
flake8-pie==0.15.0
pep8-naming==0.12.1
flake8-simplify==0.14.1
flake8-comprehensions==3.6.1
flake8-fixme==1.1.1
flake8-cognitive-complexity==0.1.0
# Code style enforcing
black==21.6b0
isort==5.9.3
